# Lokal varsayılanlar (kimlik bilgileri içerebilir)
defaults.txt

# Build çıktıları
.build/
dist/

# Mobil (Flutter) projeleri için genel ignore'lar
# (iki Flutter uygulamasını mobil/ altında tutacaksınız)
mobil/**/.dart_tool/
mobil/**/.packages
mobil/**/.flutter-plugins
mobil/**/.flutter-plugins-dependencies
mobil/**/.pub-cache/
mobil/**/build/
mobil/**/.idea/
mobil/**/.vscode/
mobil/**/.DS_Store
mobil/**/android/.gradle/
mobil/**/android/local.properties
mobil/**/android/app/build/
mobil/**/android/key.properties
mobil/**/ios/Pods/
mobil/**/ios/.symlinks/
mobil/**/ios/Flutter/App.framework
mobil/**/ios/Flutter/Flutter.framework
mobil/**/ios/Flutter/Flutter.podspec
mobil/**/ios/Flutter/Generated.xcconfig
mobil/**/ios/Flutter/ephemeral/
mobil/**/ios/Runner/GeneratedPluginRegistrant.*
mobil/**/macos/Flutter/ephemeral/
mobil/**/macos/Pods/
mobil/**/macos/Runner/GeneratedPluginRegistrant.*
 
